.contactsBlock {
    display: flex;
    justify-content: center;
    height: 90vh;
    background-color: #6ea8d7;
}

.contactsContainer {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
}

.title {
    color: #fffbf5;
}

.form {
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 3%;
}

.input {
    height: 30px;
}

.textarea {
    width: 100%;
    height: 150px;
    box-sizing: border-box;
}

.contButton {
    padding-top: 30px;
}

.button {
    height: 30px;
    width: 100px;
    background-color: #ffffff;
    border: none;
}