.footerBlock {
    display: flex;
    justify-content: center;
    align-content: center;
    min-height: 100px;
    background-color: burlywood;
}

.footerContainer {
    min-height: 250px;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 20px;
    padding-top: 20px;
}

.footer {
    width: 28%;
    height: 20%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: nowrap;
}

.icon {
    height: 4rem;
    min-width: 4rem;
    background-color: #cb7676;
    margin: 5%;
}