.projectsBlock {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 100vh;
    background-color: #d5a269;
}

.container {

}

.title {
    font-weight: 600;
    line-height: 1.3;
    font-family: 'Poppins', sans-serif;
    color: #fff;
    background: transparent;
    border: 0;
    margin: 0 0 30px;
    padding: 0;
    vertical-align: baseline;
    outline: none;
    position: relative;
}

.projects {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 70px;
}